.section-nft {
  background-color: #a02279;

  padding: 4.8rem 0 9.6rem 0;
}

.nft {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

.nft-img img {
  width: 100%;
}

.nft-heading {
  font-size: 4rem;
  padding-bottom: 3rem;
  color: #fff;
}

.nft-text {
  color: #fff;
  font-size: 2rem;
}
