@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap");

.header__btn {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  flex: 10%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header__logo {
  flex: 10%;
}

.header__ul {
  flex: 50%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  /* margin-right: 1rem; */
}

.header__ul li {
  text-decoration: none;
}
.header__ul li a {
  text-decoration: none;
  color: #333;
}
