.section-hero {
  // background-color: #fdf2e9;

  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

@media screen and (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
  }
}
.hero__description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero__img {
  width: 100%;
}

.purple {
  color: #a02279;
}

@media screen and (max-width: 59em) {
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero__img {
    width: 60%;
  }

  .hero-img-box {
    text-align: center;
    grid-row: 1;
  }
}

// .heading {
//   font-size: 3.5rem;
//   padding-bottom: 3rem;
// }

// .text {
//   font-size: 1.8rem;
//   padding-bottom: 3rem;
// }

.search {
  flex: 1;
  display: flex;
  align-items: center;
  //   justify-content: center;
  border-radius: 10px;
}

.search-input {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #a3a3a3;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 80%;
  transition: all 0.2s;
  margin-right: -16rem;
}
.search-input:focus {
  outline: none;
  border: none;
  width: 100%;
  background-color: #f0eeee;
}
.search-input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}
.search__input:focus + .search__button {
  background-color: #f0eeee;
}
.search-button {
  border: none;
  padding: 0.9rem 6.1rem;
  border-radius: 0 10px 10px 0;
}
.search-button:focus {
  outline: none;
}
.search-button:active {
  transform: translateY(2px);
}

.btn-small {
  background-color: #a02279;
  font-size: 1.2rem;
  color: #fff;
  border: none;
}

// .features {
//   background-color: #a02279;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 2rem;
//   flex: 1;
//   width: 100%;
// }

// @media screen and (max-width: 59em) {
//   .hero-content {
//     display: flex;
//     // align-items: center;
//     justify-content: center;
//     padding: 4rem 6rem;
//     flex-direction: column;
//   }

//   .hero-text {
//     order: 2;
//   }

//   .text,
//   .heading {
//     text-align: center;
//   }

//   .search {
//     // flex: 1;
//     // display: flex;
//     // align-items: center;
//     justify-content: center;
//     // border-radius: 10px;
//   }
// }

// @media screen and (max-width: 44em) {
//   .features {
//     background-color: #a02279;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 2rem;
//     flex: 1;
//     width: 100%;
//     flex-direction: column;
//   }
// }
