.card {
  //   width: 75%;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
}

// .card_img {
//   display: inline-block;
//   width: 20rem;
//   padding-top: 1rem;
// }

.text-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.8rem;
  text-align: start;
  row-gap: 1rem;
  padding: 1rem 2rem;
}

.price {
  font-weight: bold;
}

.card-img img {
  width: 100%;
}
